body
{
   
    font-family: Arial, sans-serif;
    margin: 0; /* this is to use the whole page*/
    background-color: #aaaaaa;
}
header 
{
    background-color: #400085; /*Background color of the header*/
    color: rgb(255, 255, 255); /*color of whiting in the header*/
    padding: 0.5rem; /*to make the header color fill the page right*/
    text-align: center; /*to center the header whiting*/
}
main 
{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: .5rem; /*this is to put padding from the header and the fill in parts*/
}
.form-container 
{
    display: center;
    display: flex; /*this is to make the sign-in and log-in are by each other*/
}
.form-box 
{
    border-radius: 5px;
    background-color: rgb(255, 255, 255); /*background color of boxes*/
    padding: 3rem; /*to make the input boxes inside the the other boxes*/
    box-shadow: 0 2px 10px rgba(36, 0, 153, 0.888);
    margin: 0.5rem;
}
h2 
{
    margin: .5rem; 
    margin-bottom: .5rem;
}
label 
{
    display: block;
    margin-bottom: 0.3rem;
}
input[type="text"], 
input[type="email"], 
input[type="password"] 
{
    width: 100%; /*to make sure that it doesn't go off the page*/
    padding: 0.5rem; /*The size of the text box*/
    margin-bottom: 1.5rem; /*the space inbetween the the inputs boxes*/
    border: 1px solid #000000; /*color of the text boxes*/
    border-radius: 5px; /*make the corners softer*/
}
input[type="submit"] 
{
    background-color: #1000c2; /*I want this to pop and so I made it blue to help with color blind people*/
    color: rgb(255, 255, 255); /*text color*/
    padding: 0.6rem; /*the size of the buttoms, I want them just a little bit bigger then the input boxes*/
    width: 90%; /*to help this pop, making it a different size*/
    border-radius: 5px;
}
input[type="submit"]:hover 
{
    background-color: #01a021; /*this is whenever the user is over the button, it will change the color*/
}
/* Main Page */
.admin-user 
{
    max-width: 900px; /*the size of the boxes in the welcome page*/
    width: 100%;
}
.evaluation 
{
    padding: .5rem;
    box-shadow: 0 3px 6px rgb(0, 0, 0);
}
.evaluation h3 
{
    margin-top: 0.5rem;
}
.centerTextBoxes
{
    text-align: center;
}